@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;

  --black: #000000;
  --black-soft: #181818;

  --logo-green: rgb(0,170,162);
  --logo-dark: #1E292F;
  --dark-sub-color: #3A4B55;
  --light-sub-color:  rgb(0,144,170)
}

:root {
  --ion-toolbar-background: var(--logo-green);
  --ion-toolbar-color: var(--white-soft);
  --ion-font-family: "Asap", sans-serif;
  --ion-card-color: var(--white-soft);
  --ion-text-color: var(--white-soft);
  --ion-card-background: var(--light-sub-color);
  --slider-color: var(--logo-green);
}


  [data-theme="dark"]{
    --ion-toolbar-background: var(--logo-dark);
    --ion-toolbar-color: var(--white-soft);
    --ion-font-family: "Asap", sans-serif;
    --ion-card-background: var(--dark-sub-color);
    --ion-text-color: var(--white-soft);
    --ion-card-color: var(--white-soft);
    --slider-color: var(--logo-dark);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
